<form>
  <div class="form-group">
    <ion-item>
      <ion-label position="floating" for="name">Old password</ion-label>
        <ion-input
          ngModel
          name="oldPassword"
          id="oldPassword"
          required
          #oldPassword=ngModel
          minlength="3"
          maxlength="10"
          type="password"
          class="form-control"></ion-input>
      <div class="alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
        <div class="alert-danger" *ngIf="oldPassword.errors.required">
          New password is required
        </div>
        <div class="alert-danger" *ngIf="oldPassword.errors.minlength">
          New password has to have at least {{oldPassword.errors.minlength.requiredLength}} characters
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating" for="name">New password</ion-label>
      <ion-input
        ngModel
        name="newPassword"
        id="newPassword"
        required
        #newPassword=ngModel
        minlength="3"
        maxlength="10"
        type="password"
        class="form-control"></ion-input>
      <div class="alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
        <div class="alert-danger" *ngIf="newPassword.errors.required">
          New password is required
        </div>
        <div class="alert-danger" *ngIf="newPassword.errors.minlength">
          New password has to have at least {{newPassword.errors.minlength.requiredLength}} characters
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating" for="name">Confirm password</ion-label>
      <ion-input
        ngModel
        name="confirmNewPassword"
        id="confirmNewPassword"
        required
        #confirmPassword=ngModel
        minlength="3"
        maxlength="10"
        type="password"
        class="form-control"></ion-input>
      <div class="alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
        <div class="alert-danger" *ngIf="confirmPassword.errors.required">
          Please confirm new Password
        </div>
        <div class="alert-danger" *ngIf="confirmPassword.errors.minlength">
          New password has to have at least {{confirmPassword.errors.minlength.requiredLength}} characters
        </div>
      </div>
    </ion-item>

    <div class="navigation-link">
      <ion-button [disabled]="newPassword.invalid || oldPassword.invalid || confirmPassword.invalid || newPassword.invalid" (click)="changePassword(oldPassword.value, newPassword.value, confirmPassword.value)">Change Password</ion-button>
    </div>
    <div *ngIf="message === 'Password changed!'">
      <ion-item class="alert-success">
        {{message}}
      </ion-item>
    </div>
    <div *ngIf="message !== 'Password changed!'">
      <ion-item class="alert-danger">
        {{message}}
      </ion-item>
    </div>
  </div>
</form>
