<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="danger" [routerLink]="['/klasse-erstellen']">
        <ion-icon name="add-circle-outline" size="large" >
        </ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>Klassen</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button color="dark" expand="full">Klasse A</ion-button>
</ion-content>
