<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="danger">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title type="button" (click)="goBack()">
      <ion-icon name="arrow-undo-outline"></ion-icon>
      {{klassen.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <li *ngFor="let faecher of faecher">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Klasse</ion-card-subtitle>
        <ion-card-title>{{faecher.fachName}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-button color="dark" expand="full" routerLink="/klassenDetails/{{faecher.id}}">Ansehen</ion-button>
      </ion-card-content>
    </ion-card>

  </li>
</ion-content>
