<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="danger">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title type="button" (click)="goBack()">
      <ion-icon name="arrow-undo-outline"></ion-icon>
      {{fach.fachName}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <li *ngFor="let aufgaben of aufgaben">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Aufgabe</ion-card-subtitle>
        <ion-card-title>{{aufgaben.aufgabenName}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>{{aufgaben.aufgabenBeschreibung}}</p>
        <!--<ion-button color="dark" expand="full" routerLink="/fachDetails/{{aufgaben.id}}">Ansehen</ion-button> -->
      </ion-card-content>
    </ion-card>

  </li>
</ion-content>
